/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
body{
  width: 100vw !important;
  height: 100vh !important;
  font-family: 'Indie Flower', cursive !important;
  margin: 0px;
}
